h1 {
    text-align: center;
}
header {
    height: 4rem;
    width: 100%;
    background-color: cadetblue;
}
.navigation {
    width: 10rem;
    text-align: end;

    button {
        border: none;
        padding: 2px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.mainContent {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.middle-content {
    width: 60%;
}

.received-objects {
    background-color: darkviolet;
    height: auto;
    width: 20%;
    min-width: 14rem;
}